* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header {
    font-size: 2rem;
    justify-content: space-between;
} */

/* .menu-bar {
    justify-content: center;
    align-items: center;
    padding: 19px;
    font-size: 18px;
    margin: 4px; */
.leftside{
    width: 20vw;
    display: flex;
    flex-direction: column; 
    gap:12px;
    padding: 8px 12px;
    margin: 5px;
    border: 2px solid rgb(192, 190, 190);
    border-radius: 8px;
    background-color: rgb(240, 241, 241)
}
.leftside span{
    font-size: 18px;
    font-family: sans-serif;
    padding-left: 18px;
    color:rgb(93, 92, 92)
}
.bg-cont{
    display:flex;
}

/* #menu {
    color: darkblue;
    font-weight: bold;
    font-family: sans-serif;
    margin-left: 4px;
} */

/* .menu-bar h2 {
    margin-bottom: 9px;
   
} */

body {
    /* background-image: linear-gradient(120deg,white, rgb(142, 238, 238), rgba(233, 233, 241, 0.979) ); */
    min-height: 100vh;
    color: rgba(38, 37, 37, 0.975);
    font-family: "poppins", sans-serif;
    background-color: rgb(218, 240, 240);
}


form {
    display: flex;
    min-height: 69vh;
    background-color: rgba(234, 240, 240, 0.949);
    width:30vw;
    padding: 14px;
    margin: auto;
    position:relative;
    border-radius: 12px;
    top:20px;
    justify-content: center;

}
.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:18px;
    margin-bottom: 24px;
   
    gap:20px;
    position: relative;
}
.heading h1{
    margin-left: 30px;
    
    font-size:3rem;
}
.right-container{
    width:80vw;
    /* display:flex; */
    justify-content: center;
    align-items: center;
    background-image:linear-gradient(120deg, rgb(224, 228, 228),rgb(162, 162, 239));
    min-height: 100vh;
    position: relative;
    border-radius: 5px;

}

.leftside h3{
    margin-top: 38px;
    padding: 11px;

}
.note{
    margin-top: 32px;
    height: 24vh;
    border-radius: 8px;
}
.filter-tasks{
    display: flex;
    gap: 18px;
    position: absolute;
    right: 30px;
}
.filter-tasks button{
    /* height: 8vh; */
    border-radius: 20px;
    background: rgb(235, 232, 232);
    /* outline: 2px solid darkblue; */
    color:black;
    font-size: 18px;
    padding: 14px;
    border: none;
    font-weight: bold;
}
.para {
    color: rgb(12, 12, 12);
    font-weight: bold;
    font-family: sans-serif;
   
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    font-size: 18px;
    max-width: 20vw;
}
.stuff{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:12px;
    padding: 8px;
}
.add {
    position: absolute;
    bottom: 22px;
    border: none;
    cursor: pointer;
    background: none;
    right: 100px;
    padding: 2px;
}

.task-input {
    padding: 12px;
    border: none;
    border-radius: 4px;
    box-shadow: 5px 4px 6px rgba(204, 186, 253, 0.886);
    font-size: 1.4rem;
    position: absolute;
    bottom: 15px;

}



.task-btn:hover {
    background-color: rgba(210, 203, 237, 0.926);
    transition: all 0.3s ease;
}

.task-container {
    display: flex;
    align-items: center;
    justify-content: center;

}

.task-list {
    list-style: none;
    min-width: 30%;
}

.task {
    background-color: rgba(203, 188, 247, 0.196);
    padding: 8px;
    margin: 10px;
    border-radius: 6px;
    outline: 3px solid rgba(0, 0, 255, 0.097);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    transition: all 0.5s ease;
    gap:4px;
}

.task li {
    flex: 1;
}

.completed-btn,
.trash-btn {
    margin: 2px;
    border: none;
    padding: 5px;
    font-size: 1rem;
    background-color: rgb(251, 195, 195);
    color: black;
    border-radius: 2px;
}

.completed-btn:hover,
.trash-btn:hover {
    font-size: 1.2rem;
    border-radius: 4px;


}

.trash-btn {
    background-color: rgba(2, 11, 29, 0.552);
    color: white;
}

.hgi {
    pointer-events: none;
}

.completed {
    text-decoration: line-through;
    opacity: 0.6;
}

.fall {
    transform: translateY(8rem) rotateX(20deg);
    opacity: 0;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    box-shadow: none;
    border: none;
    background-color: rgb(185, 251, 251);

    box-shadow: 2px 3px 5px rgba(178, 178, 179, 0.886);
    color: rgb(49, 47, 47);
    font: bolder;
    width: 10rem;
    cursor: pointer;


}

.select {
    margin: 1rem;
    position: relative;
    overflow: hidden;


}

/* .filter-tasks {
    margin: 4px;
    padding: 4px 10px;
    border-radius: 5px;
    font-size: 1.3rem;
    height: 7.5vh;

} */

.select::after {
    content: "\25BC";
    padding: 1.2rem;
    position: absolute;
    top: 0;
    right: 0;
    pointer-events: none;

    height: 1.2rem
}